@model StatisticSystem.PL.Models.SaleCollectionModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sales</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div>@Html.ActionLink("Back", "ManagerPage")</div>
    <br />
    <div>
        @Html.Label("Filter by:")
        <div>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(model => model.ManagerId, new { })
                @Html.Hidden("managerId", Model.ManagerId)
                <div>@ViewBag.Message</div>
                @Html.DropDownListFor(model=>model.Filter, new SelectList(StatisticSystem.PL.Models.SaleCollectionModel.Filtres))               
                <br />
                @Html.Label("Filter value:")
                <br />
                @Html.EditorFor(model => model.FilterValue)
                <input type="submit" value="Filter">
            }              
        </div>
    </div>
    <table>
        <tr>
            <th>@Html.DisplayName("Client")</th>
            <th>@Html.DisplayName("Date")</th>
            <th>@Html.DisplayName("Product")</th>
            <th>@Html.DisplayName("Cost")</th>
        </tr>
        @foreach (StatisticSystem.PL.Models.SaleModel item in Model.Sales)
        {
            <tr>
                <td>@item.Client</td>
                <td>@item.Date</td>
                <td>@item.Product</td>
                <td>@item.Cost</td>
            </tr>
        }
    </table>

    <div id="chart_div"></div>

    <script type="text/javascript" src="https://www.google.com/jsapi">
    </script>

    <script type="text/javascript">

        google.load('visualization', '1.0', { 'packages': ['corechart'] });


        google.setOnLoadCallback(drawChart);

        function drawChart() {

            var options = {
                'title': 'Sales count by dates (swipe on the chart to see details)',
                'width': 550,
                'height': 350
            };

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Count');

            $.getJSON('@Url.Action("GetProducts", "User", new { managerId = Html.ValueFor(model=>model.ManagerId) })', null,
                                                          function (result) {
                                                              if (result.Dates.length) {
                                                                  $.each(result.Dates, function (index, c) {
                                                                      data.addRow(
                                                                          [c.Name, c.Value]
                                                                      );
                                                                  });

                                                                  var chart = new google.visualization.PieChart(
                                                                                        document.getElementById('chart_div'));
                                                                  chart.draw(data, options);
                                                              };
                                                          });
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>