@model StatisticSystem.PL.Models.IndexViewModel
@using StatisticSystem.PL.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manager Page</title>
</head>
<body>
    <table>
        <tr>
            <td>Client</td>
            <td>Date</td>
            <td>Product</td>
            <td>Cost</td>
        </tr>
        @foreach (var item in Model.Sales)
        {
            <tr>
                <td>@item.Client</td>
                <td>@item.Date</td>
                <td>@item.Product</td>
                <td>@item.Cost</td>
            </tr>
        }
    </table>
    <br />
    <div>
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Details", new { page = x, Id = Model.Id}))
    </div>
</body>
</html>