@model StatisticSystem.PL.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Managers Statistic System</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div>
        <h2>Managers Statistic System</h2>
        <h3>Log in form</h3>
    </div>

    @using (Html.BeginForm("LogIn", "Home"))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.ValidationSummary(true)
            <div>
                @Html.LabelFor(model=>model.UserName)
                <div>
                    @Html.EditorFor(model=>model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Password)
                <div>
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <br />
            <div>
                <input type="submit" value="Ok" />
            </div>
        </div>
    }
    <br />
    <div>Logins for example:</div>
    <div>Admin: login - "Warden", password - "1111"</div>
    <div>UserManager: login - "Kulagin", password - "2222"</div>
</body>
</html>

