@model StatisticSystem.PL.Models.ManagerModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewManager</title>
</head>
<body>
    @Html.ActionLink("Back", "AdminPage")
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div>
            <h4>Add new manager</h4>
            <h4>@ViewBag.Message</h4>
            @Html.ValidationSummary(true)
            <div>
                @Html.LabelFor(model => model.SecondName)
                <div>
                    @Html.EditorFor(model => model.SecondName)
                    @Html.ValidationMessageFor(model => model.SecondName)
                </div>
            </div>
    
            <div>
                @Html.LabelFor(model => model.Password)
                <div>
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
    
            <div>
                @Html.LabelFor(model => model.Role)
                <div>
                    @Html.DropDownListFor(model => model.Role, new SelectList(StatisticSystem.PL.Utills.Filtres.Roles))
                    @Html.ValidationMessageFor(model => model.Role)
                </div>
            </div>
            <br />
            <div>
                <div>
                    <input type="submit" value="Add" />
                </div>
            </div>
        </div>
    }
</body>
</html>
