@model IEnumerable<StatisticSystem.PL.Models.ManagerModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Page</title>
</head>
<body>
    <div> 
        <h3>Hello administrator @ViewBag.Name !</h3> 
    </div>
    <h4>@ViewBag.Message</h4>
    <div>
        @Html.ActionLink("Add new manager", "AddNewManager") 
        @Html.ActionLink("Detail statistics", "DetailStatistics")
    </div>
    <table>
        <tr>
            <th>@Html.DisplayName("Manager second Name")</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SecondName</td>
                <td>
                    @Html.ActionLink("Sales", "Sales", new { ManagerId = item.Id })
                    @Html.ActionLink("Delete", "DeleteManager", new { Id = item.Id, UserName = item.SecondName }, new { @class = "viewDialog", data_dialog_title = "Delete manager" })
                </td>             
            </tr>
        }
    </table>

    <script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();

            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                     close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    });
    </script>
</body>
</html>
