@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPage</title>
</head>
<body>
    <div> 
        <h3>Hello administrator @ViewBag.Name !</h3> 
    </div>
    <div>@Html.ActionLink("Add new manager", "AddNewManager")</div>
    <table>
        <tr>
            <th>@Html.DisplayName("Second Name")</th>
        </tr>

        @foreach (var item in ViewBag.ManagerProfiles)
        {
            <tr>
                <td>@item.SecondName</td>
                <td>
                    @Html.ActionLink("Edit", "EditManager", new { id=item.Id}) |
                    @Html.ActionLink("Sales", "Sales", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                </td>             
            </tr>
        }
    </table>
</body>
</html>
