@model IEnumerable<StatisticSystem.PL.Models.ManagerModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Page</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div> 
        <h3>Hello administrator @ViewBag.Name !</h3> 
    </div>
    <div>
        @Html.ActionLink("Add new manager", "AddNewManager") 
        @Html.ActionLink("Detail statistics", "DetailStatistics")
    </div>
    <table>
        <tr>
            <th>@Html.DisplayName("Manager second Name")</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SecondName</td>
                <td>
                    @Html.ActionLink("Sales", "Sales", new { ManagerId = item.Id })
                    @Html.ActionLink("Delete", "DeleteManager", new { ManagerId = item.Id })
                </td>             
            </tr>
        }
    </table>
</body>
</html>
