@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailStatistics</title>
</head>
<body>
    <div>@Html.ActionLink("Back", "AdminPage")</div>
    <h4>@ViewBag.Message</h4>
    <div>
        @using (Ajax.BeginForm("FiltredStatistic", new AjaxOptions { UpdateTargetId = "filtredSalesResult" }))
        {
            @Html.ValidationSummary(true)
            @Html.Label("Filter type:")
            <br />
            @Html.DropDownList("filter", new SelectList(StatisticSystem.PL.Utill.DropDownLists.Filtres))
            <br />
            @Html.Label("Filter value:")
            <br />
            @Html.Editor("filterValue", new { htmlAttributes = new { placeholder = "01.01.2017" } })
            <input type="submit" value="Filter" />
        }        
    </div>

    <div id="filtredSalesResult"></div>

    <div id="chart_div"></div>   

    <script type="text/javascript" src="https://www.google.com/jsapi">
    </script>

    <script type="text/javascript">

        google.load('visualization', '1.0', { 'packages': ['corechart'] });


        google.setOnLoadCallback(drawChart);

        function drawChart() {

            var options = {
                'title': 'Sales count by dates (swipe on the chart to see details)',
                'width': 550,
                'height': 350
            };

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Count');

            $.getJSON('@Url.Action("GetProducts", "Admin")', null,
                                                          function (result) {
                                                              if (result.Dates.length) {
                                                                  $.each(result.Dates, function (index, c) {
                                                                      data.addRow(
                                                                          [c.Name, c.Value]
                                                                      );
                                                                  });

                                                                  var chart = new google.visualization.PieChart(
                                                                                        document.getElementById('chart_div'));
                                                                  chart.draw(data, options);
                                                              };
                                                          });
        }
    </script>
</body>
</html>
