@model Dictionary<StatisticSystem.PL.Models.SaleModel, string>


<div id="filtredSalesResult">
    @if (ViewBag.Message == null)
    {
        <table>
            <tr>
                <th>@Html.DisplayName("Manager second name")</th>
                <th>@Html.DisplayName("Client")</th>
                <th>@Html.DisplayName("Date")</th>
                <th>@Html.DisplayName("Product")</th>
                <th>@Html.DisplayName("Cost")</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Value</td>
                    <td>@item.Key.Client</td>
                    <td>@item.Key.Date.ToString("d")</td>
                    <td>@item.Key.Product</td>
                    <td>@item.Key.Cost</td>
                </tr>
            }
        </table>
    }
    else
    {
        <h4>@ViewBag.Message</h4>
    }

</div>